/* Vendored OpenDyslexic font faces so the app can run without external CDN fetches. */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/opendyslexic-latin-400-normal.woff2') format('woff2'),
    url('./files/opendyslexic-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/opendyslexic-latin-700-normal.woff2') format('woff2'),
    url('./files/opendyslexic-latin-700-normal.woff') format('woff');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./files/opendyslexic-latin-400-italic.woff2') format('woff2'),
    url('./files/opendyslexic-latin-400-italic.woff') format('woff');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./files/opendyslexic-latin-700-italic.woff2') format('woff2'),
    url('./files/opendyslexic-latin-700-italic.woff') format('woff');
}
